{% extends '../layout.html' %}
{% load static %}

{#{% extends '../layout.html' %}#}
{#{% load static %}#}

{% block title %}Loginﾍﾟｰｼﾞ{% endblock %}

{#{% block header %}#}
{#{% endblock %}#}

{% block body %}
    <div class="container">
    <h1>ログイン</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {{ field.label }}
            <br>
            {{ field }}
            <br>
            {{ field.error }}
        {% endfor %}
        <br>
        <button type="submit">ログイン</button>
    </form>
</div>
{% endblock %}

{#{% block footer %}#}
{#{% endblock %}#}
