<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中世の音楽</title>
</head>
<body>
            ギリシア・ローマ音楽
            叙事詩が伴奏で吟じられる
            祭典で伴奏つきの独奏･ギリシア演劇で伴奏を伴う合唱
            ピタゴラスが音楽理論を確立
            原始キリスト教音楽
            旧約聖書･新約聖書には讃美歌の記述(キリスト教の儀式)


    5世紀　ローマ帝国が滅亡(中世封建制度の形成)

    756年　ピピンの寄進
    8世紀　フランク王国ピピン3世がローマ教皇と関係を深めるため興った宗教音楽「グレゴリオ聖歌」を カール大帝が広める
                グレゴリオ聖歌を柱に単旋律から「ポリフォニー」(多声音楽)へ発展

    800年　カールの戴冠

    870年　フランク王国の分裂(フランス･ドイツ･イタリアの基礎)

            中世音楽
            古代ギリシア･原始キリスト教音楽を土台に生まれる
            8~9世紀頃　グレゴリオ聖歌(聖歌やローマの聖歌を統合)
            フランスーアルスノヴァ(新技法･リズム重視)　　イタリアートレチェント音楽(旋律重視の多声音楽)　　ノートルダム学派(複製部を持つ多声音楽()ポリフォニー)が12～13世紀に成立)


    </body>
</html>