<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<title>音楽史</title>
<p>古代ギリシア
    ムシーケー(詩･音楽･舞踊)や叙事詩
    ｢ピタゴラス｣音律の発見
   古代ローマ
    ギリシア音楽の継承
   中世ルネサンス
    キリスト教音楽の発展　モノフォニー(単旋律)からポリフォニー(多声音楽)が発展
    各地の宗教音楽からグレゴリオ聖歌に
    (宗教改革)
    カトリック　ミサ曲･モテット曲の流行
    プロテスタント　コラール･音楽を重視

    宮廷音楽の発展　ヨーロッパの宮廷に使える吟遊詩人が君主を讃える歌を歌う
   バロック(17世紀～18世紀中)ー(宮廷音楽　劇的な表現　オペラの誕生(イタリア)　器楽作品)
    ヘンデル(ドイツ→イタリア→イギリス)
    バッハ(ドイツ)音楽の父
    サリエリ(イタリア→オーストリア)
    ヴィバルディ(イタリア)
   古典派(18世紀中～19世紀初)ー(調和のとれた構成･展開　ソナタ形式･和声法　ピアノソナタ･協奏曲･交響曲)
    ハイドン(ウィーン古典派　弦楽四重奏曲の確立)
    モーツァルト(器楽･声楽･宗教曲などあらゆるジャンルに精通)
    ベートーヴェン(ドイツ　革命的な作品　ロマン派の先駆　楽聖)
   ロマン派(19世紀)ー(叙事詩や物語の構成に似た作品　予備なし転調･不協和音の多用　器楽曲の多用化(産業革命を背景に))
    シューベルト(オーストリア　歌曲の王)
    ウェーバー(ドイツ　ドイツ風ロマンティック歌劇の創始)
    メンデルスゾーン(ドイツ　バッハの紹介)
    シューマン(ドイツ)
    ベリオールズ(フランス　標題音楽の確立)
    ショパン(ポーランド)
    リスト(ハンガリー　超絶技巧)
    パガニーニ(イタリア　ヴァイオリン名手)
    ベッリーニ(イタリア　シチリア島出身)
    ロッシーニ(イタリア　オペラ･ヴァッファで明快な人物描写)
   後期ロマン派(19世紀後半～20世紀)ー(ナショナリズムの影響　国民学派　絶対音楽･標題音楽)
    ロシア
    　チャイコフスキー()
    　ラフマニノフ
    国民学派　　
        チェコ
        　スメタナ(チェコ国民学派の父)
        　ドヴォルザーク(ネイティブ･アメリカンや黒人霊歌を吸収)
        ノルウェー
        　グリーグ
        フィンランド
        　シベリウス
        ロシア
        　ボロディン
        　リムスキー=コルサコフ
        　ムソルグスキー
        　バラキレフ
        　キュイ
    ドイツ
    　ブラームス(絶対音楽)
    　ワーグナー(標題音楽)
    　ヨハン･シュトラウスⅡ世()
    　マーラー
    　リヒャルト･シュトラウス
    フランス
    　サン･サーンス
    　ビゼー
    　マスネ
    スペイン
    　サラサーデ
    イタリア
    　ヴェルディ(イタリア･オペラで国民的音楽家)
    　プッチーニ(管弦楽の新しい効果オペラ作家)
    イギリス
    　エルガー
    　ホルスト
   印象派(20世紀初)ー(雰囲気の表現に重き音楽様式)
    ドビュッシー(印象学派を創始)
    ラヴェル
    サティ


</p>




</body>
</html>